/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header styles */
header {
  background-color: rgb(199, 97, 114);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-size: 2.5rem;
}

/* Movie list container styles */
.movie-list-container {
  margin-top: 2rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  padding: 1rem;
  width: 400px;
  margin-left: 550px;
}

.form-control {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

.search-button {
  background-color: var(--yellow-color);
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: #d0a60f;
}

/* Search list styles */
.search-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Display 2 columns (2 items per row) */
  grid-gap: 1rem;
  margin-top: 1rem;
}

.movie-item {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.movie-item:hover {
  transform: translateY(-5px);
}

.movie-poster img {
  width: 100%;
  height: 200px; /* Adjust this value based on your preference */
  object-fit: cover;
  object-position: center;
}

.movie-title {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Result grid styles */
.result-container {
  margin-top: 2rem;
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

/* Movie details styles */
.movie-details-container {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.movie-image {
  width: 40%;
  margin-right: 1rem;
}

.movie-info {
  width: 60%;
}

.movie-image img {
  width: 100%;
  border-radius: 5px;
}

.movie-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.movie-year, .movie-genre {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.movie-plot {
  font-size: 1rem;
  line-height: 1.6;
}

/* Error message styles */
.error-message {
  text-align: center;
  font-size: 1.2rem;
  color: #cc0000;
  padding: 2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .form-control {
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  .search-button {
    margin-left: 0;
    border-radius: 5px;
  }

  .search-list {
    grid-template-columns: repeat(1, 1fr); /* Display 1 column (1 item per row) for mobile devices */
  }

  .movie-details {
    margin: 5% auto;
    width: 90%;
  }

  .details-container {
    flex-direction: column;
  }

  .movie-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .movie-info {
    width: 100%;
  }

  .movie-poster img {
    height: 200px;
  }

  .movie-title {
    font-size: 1.6rem;
  }

  .movie-year, .movie-genre {
    font-size: 1rem;
  }

  .movie-plot {
    font-size: 0.9rem;
  }
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 8px 16px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button {
  background-color: red;
}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}